<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Book</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1 class="header" >Add a New Book</h1>
  <form action="/add" method="POST">
    <label>Title:</label>
    <input type="text" name="title" required>

    <label>Author:</label>
    <input type="text" name="author" required>

    <label>Rating:</label>
    <input type="number" name="rating" min="1" max="10" required>

    <label>Review:</label>
    <textarea name="review" rows="4" required></textarea>

    <button type="submit">Add Book</button>
  </form>
  <a href="/">← Back to Home</a>
    <footer>
    <p>Made by Zachary Clint Swanepoel 💻 | Powered by Node.js + PostgreSQL</p>
  </footer>
</body>
</html>
